<h1>How long would you like to charge?</h1>

<br></br>

<div>
      <!--<form action="/action_page.php">-->
    <label>hr</label>
    <input type="number" name="quantity" min="0" max="12">
    <!--<input type="submit">-->
    <!--</form>-->


      <!--<form action="/action_page.php">-->
      <label>min</label>
      <input type="number" name="quantity" min="0" max="59">
      <!--<input type="submit">-->
      <!--</form>-->

      <br></br>
      <br></br>
      <br></br>

      <button class="button">Next -></button>

</div>
